.admin-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-query-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#admin-query-btn, #admin-query-label, #admin-query-input{
    margin: 5px
}

.admin-query-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 250px;
    height: 80px;
}