.worker-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-preview {
    display: none;
}

.image-controls {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center;
}

.image-control-btn {
    margin: 5px;
}